@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:300,300i,700,700i');

.QR-container {
  text-align: center;
}

.left-card {
  background-color: #7A003C;
  color: white;
}

.profile {
  margin-top: 20px;
}

@media (width<720px) {
  .left-card {
    min-width: 40vw;
  }

  .qr {
    width: 80%;
  }
}

.home {
  margin: 3rem;
}

.section {
  display: flex;
  justify-content: center;
}

.login-card {
  width: 30%;
  padding-top: 1rem;
}

.login-form {
  margin: 2rem;
}

.login-container {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}

.qr {
  height: "auto";
  max-width: "100%";
  width: "40%";
}

.App {
  font-family: ‘Roboto’, sans-serif;
}